

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

html{scroll-behavior:smooth}

.about-me{
    background-color: black;
    height: 500px;  
}

.center-text{
    text-align: center;
}



.m-80-optional{
  width: 80%;
}

.smallMargins
{
    margin:0.4rem 1rem;
    
    
}

.adjusted-text{
  font-size: 1.1rem;
}

.medium-weight{
font-weight: 500;
}

.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.typewrite{
  text-decoration: none;
   color: black;
}

.home-grid{
  display: grid;
  grid-template-rows: 40% 60%;

}

.expand{
    width: 100%
}

.larger-text-4{
  font-size: 1.1rem;

}


.larger-text-2{
  font-size: 2rem;
  margin: 3rem 0rem;
}

.larget-text-3{
  font-size: 2rem;
  margin: 1rem 0rem;

}

.footer-image{
  width: 1.2rem;
  margin-left: 1rem;
}

.contact-margins{
  margin: 1rem;
}

.larger-text-1{
  font-size: 1.3rem;
}

.patua{
 font-family: 'Roboto', sans-serif;
 font-size: 6.3rem;
 margin: 2rem 0px;
  color: #5D6C70;
  font-weight: lighter;
}




.cursive{
  
  font-size: 6.8rem;
  margin: 1.3rem 0rem 4rem 0rem;
  color: #2D749F;
  font-weight: bold;
}

.cursive-text{
  font-family: 'Caveat', cursive;
  font-size: 2rem;

}



.explore-button{
   text-decoration: none;
   color: white;
   background-color:  #2D749F;
   padding: 0.8rem;
   border-radius: 10px;
   margin: 2rem;
}

.explore-button-adjusted{
  text-decoration: none;
   color: white;
   background-color:  #2D749F;
   padding: 0.8rem;
   border-radius: 10px;
   margin: 0.5rem;


}


.button-main-section{
  margin: 3.5rem 0rem;
}

.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.section-margins{
  margin: 3rem 0rem;
}

.main-section-margins{
  margin: 0rem 0rem 4rem 0rem;
}

.about-me-grid{
  display: grid;
  grid-template-columns: 50% 50%;
}

.roboto{
  font-family: 'Roboto', sans-serif;
  font-weight: 20px;
}

.hobbies-grid{
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  
}

.md-60 { 
  font-size: 80px; 
}


.tech-image{
  width: 5rem;
}

.tech-grid{
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 3.5rem .5rem;
  align-items: center;
  justify-items: center;
}

.perfil-image{
  height: 23rem;
}

.meter{
  height: 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: dashed black 2.5px;
  background-color: #A6B7F5;
}


.m-80{
  width: 80%;
}

.m-70{
  width: 70%;
}

.m-75{
  width: 75%;
}

.m-90{
  width: 90%;
}

.m-50{
  width: 50%;
}

.m-40{
  width: 40%;
}

.m-60{
  width: 60%;
}

.m-20{
  width: 20%;
}

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}

.no-margins{
  margin:0px;
}


.justify-text{
  text-align: justify;
}
.align-items{
   align-items: center; 
}

.parragraph{
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0.8rem;
  line-height: 1.5;
}

.paper-background{
background-color: #fff;
background-image: linear-gradient(90deg, transparent 45px, #abced4 1px, #abced4 34px, transparent 45px), linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
}

.skills-card{
  margin: 1.6rem 3rem;
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
}


.crazy-test{
  background-image: url("./Images/main-pattern.png");
  background-repeat: repeat;
  height: 124px;
  width: 100%;
}

.borders-solid{
  
  border-left:  6px #2D749F solid;
  
}

.borders-solid-right{
  border-right:  6px #2D749F solid;
}

.borders-solid-left{
  border-left:  6px #2D749F solid;
}

.hobbies-sub-grid{
  display: grid;
  grid-template-rows: 60% 40%;
  justify-items: center;
  align-items: center;
}

.add-margins{
  margin: 2rem;
}

.line{
  margin: 25px 0px;
  background-color: #5D6C70;
  color: white;
  width: 100%;
  height: 4rem;
  font-size: 1.2rem;
}

.grey{
  background-color: #5D6C70;
}

.color-grey{
  color: #333B3D;
}

.color-light-grey{
  color:#5D6C70 ;
}
.black-line{
  background-color: black;
  color: white;
  width: 100%;
  height: 3rem;
  font-size: 1.2rem;

}

.full{
  width: 100%;
  height:100%;
}

.adjusted-margins{
  margin: 0.2rem 1rem;
}


.about-me-height{
  height: 25rem;
}

.circle{
 position: relative;

  width: 23rem;
  height: 23rem;
  border-radius: 50%;

  overflow: hidden;


}

.flex-wrap-brush{
 display: flex;
}

.flex-wrap-brush{
  display: flex;
}

.extra-padding{
  padding: 1rem;
}
.circular-square {
  border-radius: 50%;
  padding: 5px;
  overflow: hidden;
  border: 2px black solid;
  width: 7rem;
  height: 7rem;

}

.project-picture{
  width: 100%;
}

.m-30{
  width: 30%;
}
.project-picture-adjusted{
  width: 80%;
  margin: 10%;
}
.test-line{
  border-bottom: 2px solid black;

}

.process-margins{
  margin-bottom: 4rem;
}

.button-m-40{
width: 45%;
}

.explore-button-no-margins{
   text-decoration: none;
   color: white;
   background-color:  #2D749F;
   padding: 0.9rem;
   border-radius: 10px;
   margin: 0.5rem;

}


.button-m-25{
  width: 25%;
}

.process-grid{
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 2px;
  justify-items: center;
  justify-content: center;
  justify-content: center;
}

.extra-margins{
  margin: 2rem 0rem;
}

.project-grid{
display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 2px;
  grid-row-gap: 40px;
   
  justify-items: center;
  justify-content: center;
  justify-content: center;
 
}

.contact-images{
  height: 3.5rem;
   width: auto;
}
@media only screen and (max-width: 900px){

  .explore-button-no-margins{
    padding: 1rem;
    font-size: 1.09rem;
  }
  .explore-button-adjusted{
    padding: 1rem;
    font-size: 1.09rem;

  }

  .about-me-grid{
    display: flex;
    flex-wrap: wrap;
  }

  .some-margins{
    margin: 5.5rem 0rem;
  }

.button-m-40{
  width: 60%;
  padding: 1.2rem;
}

.m-80-optional{
  width: 100%;
}
  .expand-screen{
    width: 100%;
  }
  .hobbies-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5px 0px;
  }

  .borders-solid{
     border-left: 0px;
  }
  .explore-button{
    margin: 1rem;
    padding: 1rem;
    font-size: 1.09rem;
  }
  .eliminate{
    display: none;
  }
  .cursive{
    font-size: 5rem;
  }

  .patua{
    font-size: 4.5rem;

    }

  .line{
     height: 4.5rem;
     font-size: 1.07rem;
  }

  .process-grid{
  grid-template-columns: 80%;
}

.project-grid{
  grid-template-columns: 100%;
 grid-template-rows: repeat(2, auto);
 grid-gap: 2rem;
}

.process-margins{
  margin-bottom: 3rem;
}

.width-flexible{
  width: 60%
}

.extra-margins{
  margin: 3rem 0rem;
}

.change-mobile{
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.button-m-25{
  width: 85%;
}

}


.testBorder{
 
  border-bottom: 1px black solid;
  border-top: 1px black solid;
 
}

.test-canvas{
  z-index: -1;
}

.test-div{
  width: 100%;
  height:400px;
  border: 1px black solid
 
}


.standardHeight{
  height:130%;
 
}

.square{
  width: 3rem;
  height: 3rem;
  margin: 1rem 2rem;
  transition: all .1s ease-in-out;
}

.square:hover{
  transform: scale(1.2);

}

.blue{
  background-color:  #2D749F;
}

.black{
  background-color: black;
}

.vinotinto{
  background-color: #063B4D
}

.smallsquare{
  height: 2.9rem;
  width: 2.9rem;
  margin: 0.4rem 0.2rem;
}

.img-square{
  width: 3rem;
  height: 3rem;
  margin: 0rem;

}


.image-wrap{
  position: relative;
  width: 20rem;
  height: 20rem;
}

.image-size{
  
  width: 20rem;
  height: 20rem;
}

.image-description{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(75, 75, 75, 0.7);
  color: #FFFFFF;
  visibility: hidden;
  opacity: 0;
   margin: 0;
  padding: 0;
  border: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;

}

.image-wrap:hover .image-description {
  visibility: visible;
  opacity: 1;
}

