

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

html{scroll-behavior:smooth}

.about-me{
    background-color: black;
    height: 500px;  
}

.center-text{
    text-align: center;
}

.logo{
    width: 3rem;
    height: 3rem;
    border: solid;
    border-color:  #2D749F;
    position: fixed;
    margin: 0.5rem;
    font-size: 1.3rem;
    
}

.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.typewrite{
  text-decoration: none;
   color: black;
}

.home-grid{
  display: grid;
  grid-template-rows: 40% 60%;

}

.expand{
    width: 100%
}


.larger-text-2{
  font-size: 2rem;
  margin: 3rem 0rem;
}

.larget-text-3{
  font-size: 2rem;
  margin: 1rem 0rem;

}

.footer-image{
  width: 1.2rem;
  margin-left: 1rem;
}

.contact-margins{
  margin: 1rem;
}

.larger-text-1{
  font-size: 1.3rem;
}

.patua{
 font-family: 'Roboto', sans-serif;
 font-size: 7rem;
 margin: 10px 0px;
}



.cursive{
  font-family: 'Caveat', cursive;
  font-size: 7.3rem;
  margin: 10px 0px;
  color: #2D749F;
}

.cursive-text{
  font-family: 'Caveat', cursive;
  font-size: 2rem;
}

.lemonada{
  font-family: 'Lemonada', cursive;
}

.explore-button{
   text-decoration: none;
   color: white;
   background-color:  #2D749F;
   padding: 0.8rem;
   border-radius: 10px;
   margin: 2rem;
}

.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.section-margins{
  margin-bottom: 2.8rem
}

.about-me-grid{
  display: grid;
  grid-template-columns: 50% 50%;
}

.roboto{
  font-family: 'Roboto', sans-serif;
  font-weight: 20px;
}

.hobbies-grid{
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  
}

.md-60 { 
  font-size: 80px; 
}


.tech-image{
  width: 5rem;
}

.tech-grid{
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 3.5rem .5rem;
  align-items: center;
  justify-items: center;
}

.perfil-image{
  height: 15rem;
}

.meter{
  height: 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: dashed black 2.5px;
  background-color: #A6B7F5;
}

.rowdies{
  font-family: 'Noto Sans JP', sans-serif;
}


.m-80{
  width: 80%;
}

.m-70{
  width: 70%;
}

.m-75{
  width: 75%;
}

.m-90{
  width: 90%;
}

.m-50{
  width: 50%;
}

.m-40{
  width: 40%;
}

.m-60{
  width: 60%;
}

.m-20{
  width: 20%;
}

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}

.no-margins{
  margin:0px;
}

.align-items{
   align-items: center; 
}

.paper-background{
background-color: #fff;
background-image: linear-gradient(90deg, transparent 45px, #abced4 1px, #abced4 34px, transparent 45px), linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
}

.skills-card{
  margin: 1.6rem 3rem;
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
}


.crazy-test{
  background-image: url("./Images/main-pattern.png");
  background-repeat: repeat;
  height: 124px;
  width: 100%;
}

.borders-solid{
  
  border-left:  4px #2D749F solid;
  
}

.borders-solid-right{
  border-right:  4px #2D749F solid;
}

.borders-solid-left{
  border-left:  4px #2D749F solid;
}

.line{
  margin: 25px 0px;
  background-color: black;
  color: white;
  width: 100%;
  height: 3rem;
  font-size: 1.4rem;
}

.black-line{
  background-color: black;
  color: white;
  width: 100%;
  height: 3rem;
  font-size: 1.2rem;

}

.full{
  width: 100%;
  height:100%;
}



.about-me-height{
  height: 25rem;
}

.circular-square {
  border-radius: 50%;
  padding: 5px;
  overflow: hidden;
  border: 2px black solid;
  width: 7rem;
  height: 7rem;

}

.project-picture{
  width: 100%;
}

.project-picture-adjusted{
  width: 80%;
  margin: 10%;
}
.test-line{
  border-bottom: 2px solid black;

}

.process-margins{
  margin-bottom: 6rem;
}



.process-grid{
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 2px;
  justify-items: center;
  justify-content: center;
  justify-content: center;
}

.project-grid{
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 1rem;
}

.contact-images{
  height: 3.5rem;
   width: auto;
}
@media only screen and (max-width: 900px){

  .about-me-grid{
    display: flex;
    flex-wrap: wrap;
  }

  .expand-screen{
    width: 100%;
  }
  .hobbies-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5px 0px;
  }

  .borders-solid{
     border-left: 0px;
  }
  .explore-button{
    margin: 1rem;
  }
  .cursive{
    font-size: 5.8rem;
  }

  .patua{
    font-size: 4.5rem;
  }

  .line{
     height: 4.5rem;
  }

  .process-grid{
  grid-template-columns: 80%;
}

.project-grid{
  grid-template-columns: 100%;
grid-template-rows: repeat(2, auto);
}

.process-margins{
  margin-bottom: 3rem;
}

.width-flexible{
  width: 60%
}

}


.test-canvas{
  z-index: -1;
}

.test-div{
  width: 100%;
  height:400px;
 
}

